/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------- VARIABLES ---------- */
:root{
	--dark-blue: #1B2836;
	--dark-gray: #2F303B;
	--orange: #E87047;
	--cream: #F7F4E4;
	--mint: #A4D0C1;
}

/* ---------- GLOBAL STYLES ---------- */
html{
	font-family: sans-serif;
	line-height: 1.3;
	box-sizing: border-box;
}

header, main, footer{
	padding: 1em;
}

header{
	border-bottom: 5px solid var(--mint);
}

footer{
	text-align: center;
	border-top: 5px solid var(--mint);
}

h2, h3{
	color: var(--dark-blue);
	text-align: center;
	padding: 1em 0;
}

h1{
	font-weight: bold;
	font-size: 2rem;
	padding: 1em 0;
	color: var(--dark-blue);
}

h2{
	font-weight: bold;
	font-size: 1.75em;
}

h3{
	font-size: 1.3em;
	text-overflow: clip;
}

a{
	display: block;
	padding: 1em;
	text-align: center;
	color: var(--dark-blue);
}

nav a{
	text-decoration: none;
	font-weight: bold;
	font-size: 1.25em;
}

/* for content only necessary for screen readers and the outline */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

main{
	padding-bottom: 2rem;
}

#userPage1, #userPage2{
	width: 100%;
	max-width: 1100px;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1em;
}

#users h2, #users p{
	grid-column: 1/-1;
}

main > p{
	width: calc(100% - 2rem);
	max-width: 65ch;
	margin-bottom: 1rem;
	font-size: 1.1rem;
	line-height: 1.5; 
}

p > a{
	display: inline;
	padding: 0;
}

.user{
	display: grid;
	grid-template-rows: 3fr 1fr 1.5fr;
	align-items: center;
	border: 3px solid var(--dark-blue);
	width: 100%;
	max-width: calc(100% - 2rem);
	margin: 0 auto;
}

.user img{
	display: block;
	width: 100%;
	max-width: 128px;
	margin: 1em auto;
	object-fit: cover;
	border-radius: 50%;
	padding: 1em;
	border: 3px solid var(--orange);
	transition: border-radius 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	filter: grayscale(95%);
}

.user h3{
	color: var(--cream);
	background-color: var(--dark-gray);
	text-overflow: clip;
	width: 100%;
	max-width: calc(100% - 3em);
	margin: 0 auto;
	position: relative;
	border-radius: 32px 0 0 32px;
}

.user h3::before{
	display: block;
	content: " ";
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	position: absolute;
	z-index: -1;
	left: -18px;
	top: -18px;
	background-color: var(--mint);
}

.user h3::after{
	display: block;
	content: " ";
	width: 22%;
	height: 3.89rem;
	position: absolute;
	z-index: -1;
	left: 13rem;
	top: 0; 
	background-color: var(--dark-gray);
}

.user a{
	font-size: 1em;
	text-align: right;
}

#pagination1 ul, #pagination2 ul{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 0.5rem;
	width: fit-content;
	margin: 1rem auto;
}

#pagination1 a, #pagination2 a{
	background-color: var(--dark-blue);
	color: var(--cream);
	border: 1px solid var(--dark-blue);
	padding: 0.75rem 1rem;
	font-size: 1.25rem;
	border-radius: 50%;
}

#pagination1 .current-page, #pagination1 a:hover, #pagination2 .current-page, #pagination2 a:hover{
	background-color: var(--cream);
	color: var(--dark-blue);
}

@media (hover:hover){
	nav a:hover{
		background-color: var(--orange);
	}

	.user img:hover{
		filter: grayscale(0);
		border-radius: 0;
	}

	.user a:hover{
		text-decoration: none;
		background-color: var(--orange);
		color: var(--dark-blue);
	}
}

@media screen and (min-width: 601px){
	header, main, footer{
		padding: 2em;
	}

	nav ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em;
	}

	#users{
		width: 80%;
		max-width: 1200px;
		margin: 0 auto;
	}

	main > p{
		margin: 0 auto 1rem auto;
	}
}

@media screen and (min-width: 1200px) {
	header{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		align-items: center;
	}
}